---
name: deploy-stockflow
on:
  workflow_call:
    inputs:
      namespace:
        description: 'Namespace to deploy to'
        required: true
        type: string
        default: 'dev'
      imageVersion:
        description: 'Image version to deploy'
        required: true
        type: string
        default: 'dev'
jobs:
  deploy:
   name: deploy-stockflow
   runs-on: self-hosted
   steps:
   - name: Checkout
     uses: actions/checkout@v2
 
   - name: deploy-microservices
     env:
       SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
       SF_API_KEY: ${{ secrets.SF_API_KEY }}
       OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
     run: |
       cd stockflow/ && bash deploy_helm.sh "${{ secrets.OPENAI_API_KEY }}" "${{ secrets.SMTP_PASSWORD }}" "${{ secrets.SF_API_KEY }}" "${{ inputs.namespace || 'dev' }}" "${{ inputs.imageVersion || 'dev' }}"
