---
name: deploy-stockflow
on:
  workflow_dispatch:
  workflow_run:
    workflows:
      - build-image-and-push
    types:
      - completed
jobs:
 build:
   name: deploy-stockflow
   runs-on: self-hosted
   steps:
   - name: Checkout
     uses: actions/checkout@v2
 
   - name: deploy-microservices
     env:
       SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
       SF_API_KEY: ${{ secrets.SF_API_KEY }}
       OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
     run: |
       bash deploy_project.sh
