---
name: test-deployment
on:
  workflow_call:
    inputs:
      namespace:
        description: 'Namespace to deploy to'
        required: true
        type: string
        default: 'dev'
jobs:
  test:
   name: test-deployment
   runs-on: self-hosted
   steps:
   - name: Checkout
     uses: actions/checkout@v2
 
   - name: test-services
     run: |
       bash scripts/test_deploy.sh "${{ inputs.namespace || 'dev' }}"
